.load_more_section{
	margin-left: 150px;
	text-align: center;

}

#set_search_product{
	padding: 5px;
    border-bottom: 1px solid #f3efef;
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 999999999999
}
#set_search_product li{
	list-style: none;
    background: #f3efef;
    border-bottom: 1px solid #f3eaea;
    padding: 10px 32px;
    font-family: sans-serif;
    font-size: 17px;
    border-radius: 4px
}
/*for details section*/
.set_search_product_detail{
    padding: 5px;
    border-bottom: 1px solid #f3efef;
    cursor: pointer;
    display: none;
    position: absolute;
    z-index: 999999999999
}
.set_search_product_detail li{
    list-style: none;
    background: #ddd;
    border-bottom: 1px solid #f3eaea;
    padding: 10px 32px;
    font-family: sans-serif;
    font-size: 17px;
    margin-left: 450px;
    width: 600px;
    border-radius: 4px
}





